{% extends 'base.html' %}

{% block title %}Registrieren{% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4">Neues Konto erstellen</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.username(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-4">
            {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-6">
            {{ form.confirm_password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
            {{ form.confirm_password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="bg-green-500 hover:bg-green-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Registrieren
        </button>
        <p class="mt-4 text-sm">
            <a href="{{ url_for('login') }}" class="text-blue-500 hover:text-blue-700">
                Bereits ein Konto? Anmelden
            </a>
        </p>
    </form>
{% endblock %}
